<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="<%- theme.robots %>">
    <!-- 渲染优化 -->
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="HandheldFriendly" content="True" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%- page.resume_title %></title>
    <% if (page.keywords){ %>
      <meta name="keywords" content="<%- page.keywords %>">
    <% } %>
    <% if (page.description){ %>
      <meta name="description" content="<%- page.description %>">
    <% } %>

    <!-- import meta -->
    <% if (config.import && config.import.meta){ %>
      <% (config.import.meta||[]).forEach(function(item){ %>
        <%- item %>
      <% }) %>
    <% } %>
    <!-- import link -->
    <% if (config.import && config.import.link){ %>
      <% (config.import.link||[]).forEach(function(item){ %>
        <%- item %>
      <% }) %>
    <% } %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="https://b3logfile.com/avatar/1555648822141_1564559585795.png?imageView2/1/w/128/h/128/interlace/0/q/100" />
    <% if (theme.cdn.fancybox && theme.cdn.fancybox.css) { %>
      <%- css(theme.cdn.fancybox.css) %>
    <% } %>
    <!-- style.css -->
    <% if (theme.cdn.css && theme.cdn.css) { %>
      <%- css(theme.cdn.css) %>
    <% } else { %>
      <%- css('css/page') %>
    <% } %>
  </head>
  <body  class="docs">
    <div id="mobile-bar">
      <a class="menu-button fas fa-bars"></a>
      <h2 class="nav-title"><%- page.resume_title %></h2>
      <% if (page.download) { %>
        <a class="menu-button right fas fa-download" href="<%- page.download.url %>"></a>
      <% } %>
    </div>
    <%- js(theme.cdn.vue) %>
    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "resume"
    </script>

    <div id="main" class="fix-sidebar">
      <%- body %>
    </div>
    <% if (theme.cdn.smooth_scroll) { %>
      <%- js(theme.cdn.smooth_scroll) %>
    <% } else { %>
      <%- js(['js/smooth-scroll.min.js']) %>
    <% } %>

    <% if (theme.copyright) { %>
      <footer id="footer">
        <%- theme.copyright %>
      </footer>
    <% } %>

    <%- js(theme.cdn.jquery) %>
    <% if (theme.cdn.common) { %>
      <%- js(theme.cdn.common) %>
    <% } else { %>
      <%- js(['js/common.js']) %>
    <% } %>
    <% if (theme.cdn.escape) { %>
      <%- js(theme.cdn.escape) %>
    <% } else { %>
      <%- js(['js/css.escape.js']) %>
    <% } %>

    <% if (theme.cdn.fancybox && theme.cdn.fancybox.js) { %>
      <script src="<%- theme.cdn.fancybox.js %>"></script>
      <script>
        let LAZY_LOAD_IMAGE = "<%- config.lazyload %>";
        $("body").find("fancybox").find("img").each(function () {
            var element = document.createElement("a");
            $(element).attr("data-fancybox", "gallery");
            $(element).attr("href", $(this).attr("src"));
             if (LAZY_LOAD_IMAGE) {
               $(element).attr("href", $(this).attr("data-original"));
             }
            $(this).wrap(element);
        });
      </script>
    <% } %>

 

  </body>

  <!---
  <script type="text/javascript">
    /* 控制下雪 */
    function snowFall(snow) {
        /* 可配置属性 */
        snow = snow || {};
        this.maxFlake = snow.maxFlake || 1000;   /* 最多片数 */
        this.flakeSize = snow.flakeSize || 20;  /* 雪花形状 */
        this.fallSpeed = snow.fallSpeed || 5;   /* 坠落速度 */
    }
    /* 兼容写法 */
    requestAnimationFrame = window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        function(callback) { setTimeout(callback, 1000 / 60); };

    cancelAnimationFrame = window.cancelAnimationFrame ||
        window.mozCancelAnimationFrame ||
        window.webkitCancelAnimationFrame ||
        window.msCancelAnimationFrame ||
        window.oCancelAnimationFrame;
    /* 开始下雪 */
    snowFall.prototype.start = function(){
        /* 创建画布 */
        snowCanvas.apply(this);
        /* 创建雪花形状 */
        createFlakes.apply(this);
        /* 画雪 */
        drawSnow.apply(this)
    }
    /* 创建画布 */
    function snowCanvas() {
        /* 添加Dom结点 */
        var snowcanvas = document.createElement("canvas");
        snowcanvas.id = "snowfall";
        snowcanvas.width = window.innerWidth;
        snowcanvas.height = document.body.clientHeight + 500;
        snowcanvas.setAttribute("style", "position:absolute; top: 0; left: 0; z-index: 1; pointer-events: none;");
        document.getElementsByTagName("body")[0].appendChild(snowcanvas);
        this.canvas = snowcanvas;
        this.ctx = snowcanvas.getContext("2d");
        /* 窗口大小改变的处理 */
        window.onresize = function() {
            snowcanvas.width = window.innerWidth;
            /* snowcanvas.height = window.innerHeight */
        }
    }
    /* 雪运动对象 */
    function flakeMove(canvasWidth, canvasHeight, flakeSize, fallSpeed) {
        this.x = Math.floor(Math.random() * canvasWidth);   /* x坐标 */
        this.y = Math.floor(Math.random() * canvasHeight);  /* y坐标 */
        this.size = Math.random() * flakeSize + 2;          /* 形状 */
        this.maxSize = flakeSize;                           /* 最大形状 */
        this.speed = Math.random() * 1 + fallSpeed;         /* 坠落速度 */
        this.fallSpeed = fallSpeed;                         /* 坠落速度 */
        this.velY = this.speed;                             /* Y方向速度 */
        this.velX = 0;                                      /* X方向速度 */
        this.stepSize = Math.random() / 30;                 /* 步长 */
        this.step = 0                                       /* 步数 */
    }
    flakeMove.prototype.update = function() {
        var x = this.x,
            y = this.y;
        /* 左右摆动(余弦) */
        this.velX *= 0.98;
        if (this.velY <= this.speed) {
            this.velY = this.speed
        }
        this.velX += Math.cos(this.step += .05) * this.stepSize;

        this.y += this.velY;
        this.x += this.velX;
        /* 飞出边界的处理 */
        if (this.x >= canvas.width || this.x <= 0 || this.y >= canvas.height || this.y <= 0) {
            this.reset(canvas.width, canvas.height)
        }
    };
    /* 飞出边界-放置最顶端继续坠落 */
    flakeMove.prototype.reset = function(width, height) {
        this.x = Math.floor(Math.random() * width);
        this.y = 0;
        this.size = Math.random() * this.maxSize + 2;
        this.speed = Math.random() * 1 + this.fallSpeed;
        this.velY = this.speed;
        this.velX = 0;
    };
    // 渲染雪花-随机形状（此处可修改雪花颜色！！！）
    flakeMove.prototype.render = function(ctx) {
        var snowFlake = ctx.createRadialGradient(this.x, this.y, 0, this.x, this.y, this.size);
        snowFlake.addColorStop(0, "rgba(132, 94, 194, 0.9)");  /* 此处是雪花颜色，默认是白色 */
        snowFlake.addColorStop(.5, "rgba(132, 94, 194, 0.5)"); /* 若要改为其他颜色，请自行查 */
        snowFlake.addColorStop(1, "rgba(132, 94, 194, 0)");    /* 找16进制的RGB 颜色代码。 */
        ctx.save();
        ctx.fillStyle = snowFlake;
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
        ctx.fill();
        ctx.restore();
    };
    /* 创建雪花-定义形状 */
    function createFlakes() {
        var maxFlake = this.maxFlake,
            flakes = this.flakes = [],
            canvas = this.canvas;
        for (var i = 0; i < maxFlake; i++) {
            flakes.push(new flakeMove(canvas.width, canvas.height, this.flakeSize, this.fallSpeed))
        }
    }
    /* 画雪 */
    function drawSnow() {
        var maxFlake = this.maxFlake,
            flakes = this.flakes;
        ctx = this.ctx, canvas = this.canvas, that = this;
        /* 清空雪花 */
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for (var e = 0; e < maxFlake; e++) {
            flakes[e].update();
            flakes[e].render(ctx);
        }
        /*  一帧一帧的画 */
        this.loop = requestAnimationFrame(function() {
            drawSnow.apply(that);
        });
    }
    /* 调用及控制方法 */
    var snow = new snowFall({maxFlake:90});
    snow.start();
</script>
-->

<script src="https://pic.aeneag.xyz/js-cdn/floor.js"></script>




</html>
